footer {
  background-color: var(--primary);
  height:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(193, 193, 193);
  padding: 1.5rem;
  .logo {
    width: 20%;
    img{
      padding-bottom: 1rem;
    }
    p {
      @include text-style(0.8em, 400, rgb(193, 193, 193), auto);
    }
  }
  .menu-footer {
    h1{
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    p {
      text-decoration: none;
      color: rgb(193, 193, 193);
      padding-bottom: 1rem;
    }
  }
  .more-footer {
    h1{
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    .contact-footer {
      margin: 1rem 0;
      span {
        display: flex;
        align-items: center;
        justify-content: justify;
        margin: 1rem 0;
        svg {
          margin-right: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
    .others-contact-footer{
      margin-top: 1rem;
      svg{
        margin-right: 1rem;
        font-size: 1.5rem;
        color:rgb(193, 193, 193) ;
      }
    }
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  footer{
    display: block;
    .logo{
      width: 100%;
      p{
        width: 100%;
      }
    }
    .menu-footer{
      margin: 1.5rem 0;
    }
    .others-contact-footer{
      margin-top: 1rem;
      svg{
        margin-top: 1rem;
        font-size: 1.5rem;
        color:rgb(193, 193, 193) ;
      }
    }
  }
}