header {
  background-color: var(--background);
  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;
  height: auto;
  padding: 4rem;

  width: 100vw;


  ul {
    display: flex;
    justify-content: end;
    padding-left: 20rem;
    li {
      text-align: center;
      padding: 0 1.8rem;
      text-decoration: none;
      list-style: none;
    @include text-style(1.2rem, 500, var(--text-color),100%);
    &:hover{
      border-bottom: 1px solid var(--primary-color);
      color: var(--primary-color);
      scale: 0.9;
      transition: 1s ease;
    }
    }
  }
  .button-blog{
    @include button-style(10rem, 2.5rem, 1rem, var(--text-light), var(--secondary-color));
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    &:hover{
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      background-color: transparent;
      transition: 1s ease;
    }
  } 
  
}
