header {
  background-color: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  width: 100%;


  ul {
    display: flex;
    margin-left: 15rem;
    li {
      text-align: center;
      padding: 0 1.8rem;
      text-decoration: none;
      list-style: none;
    @include text-style(1.2rem, 300,var(--text-light),100%);
    border-bottom: 1px solid transparent;
    &:hover{
      color: var(--color2);
      transition: 1s ease;
    }
    }
  }
  .button-nav{
    @include button-style(12rem, 3.5rem, 1rem, var(--text-light), var(--green));
    border: none;
    border-radius: 10px;
    margin-right: 5rem;
    cursor: pointer;
    &:hover{
      background-color: var(--color2) ;
      color: var(--primary);
      transition: 1s ease;
    }
  } 
  
}
