.container_projectsDetail{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container_title-button{
    display: flex;
    width: 100%;
    .button_goBack{
      justify-content: inherit;
      width: 10%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
       
        svg{
          font-size: 1rem
        }
      }
    }
    .title-project{
      @include text-style(2rem, 200, var(--secondary-color), auto);
      display:flex;
      align-items: center;
      justify-content: center;
      width: 80%;
    }
  }
  .content_projects-details{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    .content_media{
      display: flex;
      justify-content: center;
      width: 100%;
      img{
        zoom: 1.2;
      }
    }
    .content_projects-description{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      padding: 3rem 0;
      .goProject{
        margin-top: 2rem;
        button{
          margin-right:1rem ;
          padding: .5rem;
        }
       
      }
      .content_details-tecnologys{
       border: 1px solid var(--text-dark);
       margin-top: 3rem;
      }
    }
  }
}