.skills {
  display: flex;
  width: 80vw;
  text-align: center;
  margin: 0 auto;
  .languages {
    display: flex;
    margin-top: 4rem;
    width: 60%;
    flex-wrap: wrap;
    gap: 4;
    button {
      @include button-style(
        6rem,
        0.5rem,
        0.9rem,
        var(--secondary-color),
        var(--primary-color)
      );
      height: auto;
      margin: 0.25rem;
      border-radius: var(--border-radius);
      border: none;
      font-weight: 800;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
      svg {
        margin: 0.5rem;
        font-size: 2.4rem;
      }
    }
  }
}
