.tagsInfos {
  .tags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8rem 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: var(--primary);
      border: var(--white);
      margin: 1.5rem;
      color: var(--text-light);
      padding: 0.8rem 1rem;
      border-radius: 15px;

      svg{
        font-size: 2rem;
        margin-right: 0.7rem;
      }
      p{
        font-size: 1.45rem;
      }
  
    }
  }
  .infos {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: white;
   
    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.4rem;
      width: 25vw;
      
      img {
        height: auto;
        width: auto;
        padding: 1rem;
        text-align: center;
      }
      h1 {
        @include text-style(1.8rem, 600, var(--primary), 100%);
        margin: 1rem 0;
      
        text-align: center
      }
      p {
        @include text-style(1rem, 400, var(--text-color),100%);
        text-align:center;
      }
    }
  }
}
@media screen and (min-width: 280px) and (max-width:1080px) {
  .tagsInfos {
    width: 100vw;
    height: auto;
    text-align: none;
    .tags {
      margin: 7rem 0;
      display: flex;
      gap: 1;
      flex-wrap: wrap;
      .content-tag {
        display: flex;
        width: auto;
        height: auto;
        text-align: justify;
        margin: 0.5rem;
        padding:0.5rem;
      
        svg{
          font-size: 1.8rem;
          margin-right: 0.7rem;
        }
        p{
          font-size: 1rem;
        }
    
      }
    }
    .infos {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: space-around;
      align-items: flex-start;
      margin: 2rem auto;

      span {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        width: auto;
         
      }
    }
  }
}