:root{
/* --background : #263238; */
--primary-color: #41C6FF;
--background:  #F5F7F9;
--secondary-color: #005058;
--emphasis: rgb(255, 43, 96);
--text-color: #263238 ;
--text-light: #F5F7F9;
--reserve-color1: #263238;
/* --text-color: #FFF; */
--gray: #5E5E5E;
--gratwo: #F5F7F9;
--border-radius: 20px;
}


[data-theme="light"] {
    --background: #FFF;
    --text-color: #263238 ;

}