.home-container {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: var(--primary);
    padding-top: 1rem;
    .infos-home-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 3.3rem;
      width:50%;
      position: relative;
      
      .pointes{
        color: var(--color1);
        font-size: 8rem
      }
      h1 {
        @include text-style(3rem, 500, var(--text-light), auto);
      }
      h2 {
        @include text-style(2rem, 300, var(--text-light), auto);
      }
      .icons-home {
        margin-top: 2rem;
        svg {
          width: auto;
          height: auto;
          margin-right: 1rem;
          font-size: 1.5em;
          background-color: var(--color1);
          border-radius: 25px;
          padding: 1rem;
          color: var(--white);
        }
      }
    }
    .image-home-container {
      width: 70%;
      display: flex;
      img {
        zoom: 1;
      }
    }
  }

